.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-window {
  width: 40%;
  height: 40%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border: solid 1px #bab3b3;
}

.close-modal-button {
  position: absolute;
  top:1px;
  right:1px;
  left: auto;
  bottom: auto;
  padding: auto;

}

.modal-input-user-container {
  position: relative;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.submit-user-form, .product {
  margin-top: 20px;
  margin-left: 5px;
}

.product-price {
  margin-top:10px;
  margin-left:10px;
}


.create-invoice-modal{
  width: 90%;
  height: 90%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border: solid 1px #bab3b3;
  background: white
}

.user-choose {
  width: 100%;
}

.add-product-button {
  margin-top: 10px;
}

.products-list {
  list-style: none;
  margin-top: 10px;
  padding: 0;
}

.product-counter,.product-counter-plus, .product-counter-minus, .product-counter-count {
  margin-top: 10px;
  margin-left: 5px;
}

.product-counter-price {
  margin-left: 20px;
}


.modal-input-invoice-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.invoice-input-container {
  margin-top: 10px;
}

.submit-invoice-form, .product {
  padding-top: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
  width: 100%
}

.input-invoice-main {
  width: 50%;
}

.discount-total {
  width: 50%;
}

.total{
  font-size: 30px;
  font-family: sans-serif;
}

i {
  cursor: pointer;
}




