$max-size: 100%;
$half-max-size: 50%;



html {
  width: $max-size;
  height: $max-size;
}

#root {
  height: $max-size;
  width: $max-size;

}



body {
  font-family: sans-serif;
  width: $max-size;
  height: $max-size;
  background: #d7d8d9;
}

.todo-list-app{
  width: $max-size;
  height: $max-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .main-todo-block{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #ebf5f1;
    border: solid 1px #bab3b3;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    max-height:$max-size;
    .todo-list-header{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      width: $half-max-size;
      .todo-list-form {
        width: $max-size;
        .create-todo-field {
          width: $max-size;
        }
        .create-todo-btn {
          margin-top: 5px;

        }
      }
    }
    .todos-list-container {
      width: $half-max-size;
    .todos-list {
        overflow: auto;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        width: $max-size;
        max-height: 500px;
        .todo-list-item {
          display:flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          height: max-content;

        }
      }
    }
  }


}

.todo-btn{
  margin: 3px;
}

.todo-list-sort {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
  width: 100%;
  .filter-buttons {
    display:flex;
    justify-content: space-around;
    width: 50%;
    flex-wrap:wrap;
  }
  .set-buttons{
    display: flex;
    justify-content: space-around;
    width: 50%;
    flex-wrap: wrap;
  }
}

.text-across {
  text-decoration: line-through;
  color: #8c9191;
}

.change-name{
  padding: 0;
}

.main-route{
  width:$max-size;
  height: $max-size;
}

.main-route-header{
  padding: 10px;
  background: #ebf5f1;
  border: solid 1px #bab3b3;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.main-page-container {
  height: $max-size;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-apps {
  width:$half-max-size;
  height: max-content;
  background: #ebf5f1;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.invoices-main-container{
  width: $max-size;
  height: $max-size;
  display: flex;
}

.invoices-navigation {
  width: 15%;
  height: $max-size;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  border: solid 1px #bab3b3;

}

.main-block {
  width: 85%;
  height: $max-size;
  display: flex;
  justify-content: center;
  align-items: center;

}

.main-component-container {
  width: 95%;
  height: 90%;
  min-height: max-content;
  background: #ebf5f1;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border: solid 1px #bab3b3;
  overflow: auto;
}

.add-user-button{
  width: max-content;
  margin-left: 20px;
  margin-top: 20px;
}

.edit-item {
  margin-left: 5px;
  margin-right: 5px;
}

.products-chart{
  width: 50%;
  height: 100%;
}

.reg-auth-form {
  width: 30%;

}

.change-password{
  margin-left: 40px;
}

.image-upload {
  cursor: pointer;
  flex-direction: column;
  border: none;
}
















